{%extends 'base_foot.html'%}
{%block head%}
<script>
    $(function(){
        name_error=false;
        pwd_error=false;


        $('.name_input').blur(function(){
            if($('.name_input').val().length==0){
                if($('.name_input').val().length==0){
                    $('.user_error').html('请填写用户名').show();
                    name_error=false;
                }else{
                    $('.user_error').hide();
                    name_error=true;
                }
            }
        });

        $('.pass_input').blur(function(){
            if($(this).val().length==0){
                $('.pwd_error').html('请填写用户名').show();
                    pwd_error=false;
            }else{
                    $('.pwd_error').hide();
                    pwd_error=true;
                }

        });


    })

</script>
{%endblock head%}
{%block body%}
<div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
</div>

<div class="login_form_bg">
    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">日夜兼程 · 急速送达</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1>密码修改</h1>
            </div>
            <div class="form_input">
                <form action="/user/login_handle/" method="post">
                    {%csrf_token%}
                    <input type="text" name="pwd1" id ="pwd1" class="name_input" value="{{uphone}}" placeholder="请输入新密码">
                    <div class="user_error">输入错误</div>
                    <input type="text" name="pwd2" id="pwd2" class="pass_input" value="{{ucode}}" placeholder="请重新输出新密码">
                    <div class="pwd_error">输入错误</div>

                    <input type="submit" value="修改密码" class="input_submit">

                </form>

            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">

    </script>
{%endblock body%}