{%extends 'base_foot.html'%}
{%block head%}
<script>
    $(function(){
        name_error=false;
        pwd_error=false;


        $('.name_input').blur(function(){
            if($('.name_input').val().length==0){
                if($('.name_input').val().length==0){
                    $('.user_error').html('请填写用户名').show();
                    name_error=false;
                }else{
                    $('.user_error').hide();
                    name_error=true;
                }
            }
        });

        $('.pass_input').blur(function(){
            if($(this).val().length==0){
                $('.pwd_error').html('请填写用户名').show();
                    pwd_error=false;
            }else{
                    $('.pwd_error').hide();
                    pwd_error=true;
                }

        });


    })

</script>
{%endblock head%}
{%block body%}
<div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
</div>

<div class="login_form_bg">
    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">日夜兼程 · 急速送达</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1>密码找回</h1>
            </div>
            <div class="form_input">
                <form action="/user/login_handle/" method="post">
                    {%csrf_token%}
                    <input type="text" name="mobile" id ="mobile" class="name_input" value="{{uphone}}" placeholder="请输入手机号">
                    <div class="user_error">输入错误</div>
                    <input type="text" name="code" id="code" class="pass_input" value="{{ucode}}" placeholder="请输入验证码">
                    <div class="pwd_error">输入错误</div>
                    <input type="button" id = forcode onclick="settime(this)" style="margin-top: -70px;margin-left: 208px" value="获取验证码" class="input_btn">
                    <input type="submit" value="找回密码" class="input_submit">

                </form>

            </div>
        </div>
    </div>
</div>
<!--发送按钮倒计时代码-->
                    <script type="text/javascript">
                    var countdown=60;
                    function settime(obj) {
                        if (countdown == 0) {
                            obj.removeAttribute("disabled");
                            obj.value="获取验证码";
                            countdown = 60;
                            return;
                        } else {
                            obj.setAttribute("disabled", true);
                            obj.value="重新发送(" + countdown + ")";
                            countdown--;
                        }
                    setTimeout(function() {
                        settime(obj) }
                        ,1000)
                    }

                     $('#forcode').click(function () {
                        $.ajax({
                            cache:false,
                            type:"POST",
                            url:"/user/get_code/",
                            data:{
                               csrfmiddlewaretoken:$('[name="csrfmiddlewaretoken"]').val(),
                               mobile:$("#mobile").val()
                            },
                            async:true,
                            success:function (data) {
                                alert(data)
                            }
                        })
                    })
                    </script>
{%endblock body%}