<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/app01/login/" method="POST" enctype="multipart/form-data">
        <p>
            <input type="text" name="user" placeholder="用户名" />
        </p>
        <p>
            <input type="password" name="pwd" placeholder="密码" />
        </p>
{#        <p>#}
{#            男：<input type="checkbox" name="favor" value="11">#}
{#            女：<input type="checkbox" name="favor" value="22">#}
{##}
{#        </p>#}
{#        <p>#}
{#            男：<input type="checkbox" name="favor" value="11">#}
{#            女：<input type="checkbox" name="favor" value="22">#}
{#        </p>#}
{#        <p>#}
{#            <input type="file" name="fff">#}
{#        </p>#}
        <input type="submit" value="提交"/>
    </form>
</body>
</html>